:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background:#3F51B5;
  background-image: linear-gradient(#7E57C2 50%, #3F51B5);
  max-width: 100vw;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
