.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    background-size: cover;
    
}
.nav-black{
    display: flex;
}


.nav-white {
    display: flex;
    background-color: white;
    background-size: cover;
}